<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="consoleApender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss,SSS} (%C:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="fileApender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./JosmLogs/Broker.log" />
		<param name="Threshold" value="DEBUG" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy MMM dd HH:mm:ss,SSS} (%C:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="hn.com.tigo.josm">
		<level value="info" />
		<appender-ref ref="consoleApender" />
	</logger>

</log4j:configuration>